.plot-section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the container */
    justify-content: center;
    background-image: url('/public/assets/plot.png'); /* Background image */
    background-size: 100%;
    max-width: 1400px;
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-position: center; /* Center the image */
    padding: 20px; /* Add padding */
    height: 100%;
    max-height: 1400px;
    min-height: 1200px;
    margin: 0 auto;
}

.plot-title-container {
    padding-bottom: 120px;
}

.plot-title {
    font-family: 'Playfair Display', serif; /* Font family for title */
    font-size: 6.4rem; /* Font size for the title */
    text-align: center; /* Center title text */
    color: white; /* Title color */
    font-weight: lighter;
    margin: 0;
    text-shadow: black 6px 0 10px;
}

.plot-section .plot-text-container {
    display: flex;
    flex-direction: column;
    width: 100%; /* Set width of the text container */
    max-width: 1200px; /* Maximum width for larger screens */
    align-items: center;
}

.plot-text {
    font-family: 'Noto Sans', sans-serif; /* Font family for text */
    font-size: 1.6rem; /* Responsive font size */
    text-align: justify; /* Align text to the left */
    color: white;
    margin: 0 0 0 0;
    text-shadow: black 6px 0 10px;

}

/* Media queries for further responsiveness */
@media (max-width: 1068px) {
    .plot-title-container {
        padding-bottom: 80px;
    }

    .plot-title {
        font-size: 6vw; /* Slightly smaller title size for smaller screens */
    }

    .plot-text {
        font-size: 2vw; /* Larger text size for smaller screens */
    }

    .plot-section {
        margin-bottom: -100px;
        margin-top: -100px;
    }
}

@media (max-width: 480px) {
    .plot-title-container {
        padding-bottom: 20px;
    }

    .plot-title {
        font-size: 8vw; /* Even smaller title size for extra small screens */
    }

    .plot-text {
        font-size: 2.2vw; /* Larger text size for extra small screens */
    }

    .plot-section {
        margin-bottom: -320px;
        margin-top: -320px;
    }
}
