/* Container for the video and the main logo */
.video-container {
    position: relative;
    width: 100%;
    max-width: 1400px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 40px;
    min-height: 900px;
}

/* Background video styling */
.background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 78%;
    height: 60%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: 0;
}

/* Main logo centered on the video */
.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
}

.logo {
    max-width: 60%;
    height: auto;
}

/* Container for logos below the video */
.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Row for logos */
.logo-row {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

/* Individual logo styling */
.small-logo {
    width: 185px;
    height: 123px;
    margin: 10px;
}

/* Responsive adjustment */
@media (max-width: 768px) {
    .logo-row {
        flex-wrap: wrap;
        justify-content: center;
    }

    .small-logo {
        width: 150px;
        height: auto;
    }

    .logo {
        max-width: 100%;
    }
}

/* Arrow container */
.arrow-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 20px;
}

.arrow {
    transition: transform 0.2s;
}

/* Quote text container */
.quote-text-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 60px;
    margin-bottom: 60px;
    max-width: 640px;
    width: 100%;
    position: relative;
}

.quote-text-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    flex-grow: 1;
}

.quote-text {
    font-family: 'Crimson Pro', serif;
    font-size: 2.2rem;
    color: #FF56FF;
    text-align: left;
    margin: 1px;
    padding: 1px;
    line-height: 1;
}

.quote-mark {
    width: 80px;
    height: auto;
}

.start-quote {
    align-self: flex-start;
    margin-top: -50px;
}

.end-quote {
    align-self: flex-end;
    margin-left: 5px;
    margin-bottom: -50px;
}

.outer-quote {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    padding-top: 50px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .quote-text-container {
        max-width: 90%;
    }

    .quote-text {
        font-size: 1.8rem;
        line-height: 1;
    }

    .quote-mark {
        width: 30px;
    }

    .background-video {
        top: unset;
        width: 100%;
        height: unset;
    }

    .overlay {
        top: unset;
        bottom: 50%;
    }

    .video-container {
        margin-bottom: -400px;
    }
}

@media (max-width: 480px) {
    .quote-text-container {
        max-width: 100%;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .quote-text {
        font-size: 1.5rem;
        line-height: 1.5;
    }

    .quote-mark {
        width: 25px;
    }

    .background-video {
        top: unset;
        width: 100%;
        height: unset;
    }

    .overlay {
        top: unset;
        bottom: 50%;
    }

    .background-video {
        top: unset;
        width: 100%;
        height: unset;
    }

    .overlay {
        top: unset;
        bottom: 50%;
    }

    .video-container {
        margin-bottom: -400px;
        margin-top: -180px;
    }
}
