.section {
    padding-top: 140px; /* Adjust depending on the height of your header */
    height: 100vh; /* Full screen for each section */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    height: 80%;
    transform: translate(-50%, -50%);
    z-index: 0; /* Puts the video behind the content */
}


.overlay {
    position: absolute;
    z-index: 1;
    color: white;
    text-align: center;
}